@font-face {
    font-family: 'game_over';
    src: url('game_over.eot');
    src: url('game_over.eot?#iefix') format('embedded-opentype'),
        url('game_over.woff2') format('woff2'),
        url('game_over.woff') format('woff'),
        url('game_over.svg#game_over') format('svg');
    font-weight: normal;
    font-style: normal;
}