@font-face {
  font-family: 'game_over';
  src: url('game_over.svg#game_over') format('svg'),
    url('game_over.ttf') format('truetype'),
    url('game_over.woff') format('woff'),
    url('zorque.eot'),
    url('zorque.eot?#iefix') format('embedded-opentype'),
    url('zorque.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}